.description{
     display: inline-block;
     border: 2px solid;
     text-align: center;
     min-height: 150px;
     width: 400px;
     border-radius: 15px;
     text-align: center;
    background-color: #28a745;
    color: white;
    font-weight: 500;
    font-size: large;
    padding: 10px;
    overflow-wrap: break-all;
    
     
      
}